{
  "extends": ["wesbos", "plugin:mdx/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "quotes": ["error", "backtick"],
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/no-access-state-in-setstate": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-no-useless-fragment": 1,
    "no-useless-escape": 0,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }
}

