.navLists {
    margin-left: 20px;
    display: flex;
}

.navLink {
    margin-left: 32px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 24px;
    letter-spacing: 0.16px;

    color: #c6c6c6;
}

.navLeftBorder {
    width: 1px;
    background: #3d3d3d;
    height: 24px;
    display: inline-block;
}

@media (max-width: 768px) {
    .navLink {
        display: none;
    }
}

@media (min-width: 769px) {
    .globalBar {
        display: none !important;
    }
}
